*{
    margin: 0;
}

body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

img{
    object-fit: contain;
}

div {
    margin: 3em;
}