*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

div {
    margin: auto;
    margin-top: 3em;
    padding: 1em;
    border: 2px solid gray;
    background-color: rgb(233, 232, 232);
    width: fit-content;
}

p{
    font-style: italic;
}