:root{
    --purp: rgb(224, 200, 252);
    --dark-purp: rgb(138, 67, 214);
    --lime: #F6F1B4;
    --dark-green: #28723d;
    --dark-text: rgb(29,26,47);
}

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body{
    color: var(--dark-text);
    font-family:'Gill Sans', 'Gill Sans MT',
    Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 2em;
}

header{
    font-size: 1.5rem;
    margin-top: -1em;
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-color: var(--purp);
}

#pfp{
    border-radius: 50%;
    width: 6em;
    height: 6em;
    margin: 1em;
}

#aka-dropdown{   
    list-style-type: none;
    border-radius: 6px;
    width: fit-content;
}

#aka-dropdown li img{
    width: 1.3rem;
    vertical-align: middle;
    padding: 0;
}

#aka-dropdown {
    padding: 0;
}

#aka-dropdown li{
    font-family: 'Courier New', Courier, monospace;
    font-size: .8em;
}

#aka-and-dropdown:hover  #aka-dropdown{
    display: block;
}

#my-name{
    font-size: 2.5em;
    font-weight: bold;
    padding: 0;
    margin: 0;
    display: block;
}

#intro-container{
    border-top: 2px solid;
    width: max-content;
    transition: transform 250ms;
    border-radius: 3px;
}

#occupation-container{
    margin: 0;
    font-size: inherit;
    position: relative;
}


#soon-to-be{
    float: right;
    margin-top: -.1rem;
    font-size: 70%;
    opacity: 0.5;
}

main{
    background-color: var(--lime);
    margin: 0 20%;
    display: flex;
    padding: 1em;
    position: relative;
    flex-direction: column;
    margin-top: 1em
}

.section-container{
    padding: 2em 0;
}

main .section-container h2{
    text-align: center;
    padding: 0;
}

a:link, a:visited { 
    text-decoration: none;
    color:  var(--dark-text);
}
a:hover { 
  text-decoration: underline; 
} 
a:active { 
  text-decoration: none; 
}

#about{
    background-color: rgb(222, 203, 241);
    display: flex;
}

#about h3{
    margin: 0;
    text-align: center;
    background-color: var();
}

#spongebob{
    float: right;
    width: 6em;
    position: fixed;
}

footer{
    background-color: var(--dark-green);
    position:fixed;
    bottom: 0;
    width: 100%;
    display: inline;
    outline: 1px solid var(--lime);
}

#navbar-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer ul li{
    float: left;
    height: max-content;
    padding: .8em;
    color: var(--lime);
    transition: all .2s ease 0s;
}

footer ul li:hover{
    background-color: rgb(9, 52, 11);
}

#menu-icon{
    width: 1em;
    padding: 0;
}

.immutable{
    pointer-events: none;
}